{% extends "base.html" %}
{% load staticfiles %}

{% block head1 %}
<link rel="stylesheet" href={% static 'css/landing.css' %}>
{% endblock head1 %}
{% block body %}

<!-- <div class="row">

  <div class="col-lg-4"></div>
  {% if messages %}
  {% for message in messages %}
  {% if message.level == 25 %}
  <div class="alert alert-dismissible alert-success col-lg-4 col-md-12">
    {{ message }}
  </div>
  {% elif message.level == 40 %}
  <div class="alert alert-dismissible alert-danger col-lg-4 col-md-12">
    {{ message }}
  </div>
</div>
{% endif %}
      {% endfor %}
{% endif %} -->


{% endblock body %}
