<div style="background: #243a51; padding: 10px; border-radius: 10px; box-shadow: 4px 4px 12px 0px rgba(36,58,81,0.42); text-shadow: 3px 3px 3px grey">
    <h3 style="text-align: left;">
        <span style="color: #ffffff;">
            <strong>Dear Moratabaty Admin,</strong>
        </span>
    </h3>
    <h3 style="text-align: center;">
        <span style="color: #ffffff;">
            <strong>
                <em>A new user has requested to join:
                </em>
            </strong>
        </span>
    </h3>
    <strong style="color: #ffffff;">Name: {}</strong>
    <br/>
    <strong style="color: #ffffff;">Email: {}</strong>
    <br/>
    <strong style="color: #ffffff;">Kindly login to review and approve.
        <br />
    </strong>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: left;">
        <span style="color: #ffffff;">
            <strong>Best Regards</strong>
        </span>
    </p>
    <p style="text-align: left;">
        <span style="color: #999999;">sent automatically from Moratabaty.com</span>
    </p>
</div>