<div style="background: #243a51; padding: 10px; border-radius: 10px;box-shadow: 4px 4px 12px 0px rgba(36,58,81,0.42);text-shadow: 3px 3px 3px grey;">
    <h3 style="text-align: left;">
        <span style="color: #ffffff;">
            <strong>Dear {},</strong>
        </span>
    </h3>
    <h3 style="text-align: center;">
        <span style="color: #ffffff;">
            <strong>
                <em>Thanks for your interest in using Moratabaty!</em>
            </strong>
        </span>
    </h3>
    <p style="text-align: center; color: #ffffff">
        <strong>Moratabaty is the number one platform for making your life easier as a business owner.</strong>
    </p>
    <p style="text-align: center; color: #ffffff">
        <strong>Your request is currently pending the approval of the administrator, we will contact you shortly!</strong>
    </p>
    <p style="text-align: center;">
        <span style="color: #ffffff;">
            <strong>Thanks again!</strong>
        </span>
    </p>
    <p style="text-align: center;">
        <span style="color: #ffffff;">
            <strong>Moratabaty Team</strong>
        </span>
    </p>
</div>