<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body style="direction: rtl;">
<h1>  قسيمة قبض {slip_status} </h1>
<h2>{salary}</h2>
<table style="border-collapse: collapse;width: 50%;margin:35px;text-align: center; padding: 8px;">
<tr>
    <th style="border: 1px solid #464545;">نوع البيان</th>
    <th style="border: 1px solid #464545;">البيان</th>
</tr>
<tr >
    <td style="border: 1px solid #464545;">اسم الموظف</td>
    <td style="border: 1px solid #464545;">{first_name} {last_name}</td>
</tr>
<tr>
        <td style="border: 1px solid #464545;">الشهر</td>
        <td style="border: 1px solid #464545;">{month}</td>
</tr>
<tr>
        <td style="border: 1px solid #464545;">السنة</td>
        <td style="border: 1px solid #464545;">{year}</td>
</tr>
<tr>
        <td style="border: 1px solid #464545;">الادارة</td>
        <td style="border: 1px solid #464545;">{department}</td>
</tr>
<tr>
        <td style="border: 1px solid #464545;">القسم</td>
        <td style="border: 1px solid #464545;">{section}</td>
</tr>
<tr>
        <td style="border: 1px solid #464545;">الوظيفة</td>
        <td style="border: 1px solid #464545;">{sub_section}</td>
</tr>
<tr>
        <td style="border: 1px solid #464545;">الدرجة</td>
        <td style="border: 1px solid #464545;">{degree}</td>
</tr>
<tr>
        <td style="border: 1px solid #464545;">المرتب الاساسي</td>
        <td style="border: 1px solid #464545;">{basic_salary}</td>
</tr>
<tr>
        <td style="border: 1px solid #464545;">المرتب المتغير</td>
        <td style="border: 1px solid #464545;">{variable_salary}</td>
</tr>
<tr>
        <td style="border: 1px solid #464545;">عدد أيام الغياب فى هذا الشهر</td>
        <td style="border: 1px solid #464545;">{deducted_days}</td>
</tr>
<tr>
        <td style="border: 1px solid #464545;">الخصم بسبب أيام الغياب</td>
        <td style="border: 1px solid #464545;">{abscense_days_deduction}</td>
</tr>
<tr>
        <td style="border: 1px solid #464545;">مجموع بنود المرتب المضافة الغير خاضعة للضريبة</td>
        <td style="border: 1px solid #464545;">{total_untaxable_added_salary_elements}</td>
</tr>
<tr>
        <td style="border: 1px solid #464545;">مجموع بنود المرتب المضافة الخاضعة للضريبة</td>
        <td style="border: 1px solid #464545;">{total_taxable_added_salary_elements}</td>
</tr>
<tr>
        <td style="border: 1px solid #464545;">المرتب الشامل</td>
        <td style="border: 1px solid #464545;">{gross_salary}</td>
</tr>
<tr>
        <td style="border: 1px solid #464545;">مجموع بنود المرتب المخصومة الغير خاضعة للضريبة</td>
        <td style="border: 1px solid #464545;">{total_untaxable_deducted_salary_elements}</td>
</tr>
<tr>
        <td style="border: 1px solid #464545;">مجموع بنود المرتب المخصومة الخاضعة للضريبة</td>
        <td style="border: 1px solid #464545;">{total_taxable_deducted_salary_elements}</td>
</tr>
<tr>
        <td style="border: 1px solid #464545;">قيمة خصم التأمينات</td>
        <td style="border: 1px solid #464545;">{insurance_deduction}</td>
</tr>
<tr>
        <td style="border: 1px solid #464545;">المرتب الخاضع للضريبة</td>
        <td style="border: 1px solid #464545;">{taxable_salary}</td>
</tr>
<tr>
        <td style="border: 1px solid #464545;">قيمة خصم الضرائب</td>
        <td style="border: 1px solid #464545;">{taxes_deduction}</td>
</tr>
<tr>
        <td style="border: 1px solid #464545;">اضافات/خصومات اخري</td>
        <td style="border: 1px solid #464545;">{custom_rule_amount}</td>
</tr>
<tr>
        <td style="border: 1px solid #464545;">المرتب الصافى</td>
        <td style="border: 1px solid #464545;">{net_salary}</td>
</tr>
</table>
</body>
</html>