{% extends "dashboard-viewdata.html" %}
{% load staticfiles %}
{% block table %}
<table class="table table-hover table-sm">
        <thead>
            <tr>
                <th class="pr-4" scope="col">م</th>
                <th scope="col">
                <a href={% url 'employees:military_status_list' by='name' %} class="text-white">
                    اسم الموقف من التجنيد
                </a>
                </th>
                <th scope="col">تعديل</th>
                <th scope="col">حذف</th>
            </tr>
        </thead>
        <tbody>
            {% for military_status in military_status_list %}
            <tr class="table-light" id="table-row" >
                    <td class="pr-4" scope="row">
                        {{ forloop.counter }}
                    </td>
                    <td>{{military_status.name}}</td>
                    <td> <a href={% url 'employees:edit_military_status' pk=military_status.pk %}><img src={% static 'img/edit-icon.png' %} alt="edit"></a></td>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#delete-modal-{{military_status.pk}}">
                            <img src={% static 'img/delete-icon.png' %} alt="delete">
                        </a>
                    </td>
                    
            </tr>
            <div class="modal fade" id="delete-modal-{{military_status.pk}}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class=" modal-dialog modal modal-dialog-centered w-50 p-3" role="document">
                    <div class="modal-content alert">
                        <div class="modal-header">
                            <h3 class="modal-title" id="detailModalLabel">هل أنت متأكد؟</h3>
                        </div>
                            <div class="modal-body">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                                    <a type="button" class="btn btn-danger" href={% url 'employees:delete_military_status' pk=military_status.pk %}>نعم، احذف</a>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
        </tbody>
    </table> 
{% endblock table %}
        