{% extends "dashboard-viewdata.html" %}
{% load staticfiles %}
{% block table %}
<table class="table table-hover table-sm">
        <thead>
            <tr>
                <th class="pr-4" scope="col">م</th>
                <th scope="col">
                        <a href={% url 'payroll:tax_rules_list' by='name' %} class="text-white">
                    اسم القاعدة
                    </a>
                </th>
                <th scope="col">تعديل</th>
                <th scope="col">حذف</th>
            </tr>
        </thead>
        <tbody>
            {% for tax_rule in tax_rules %}
            {% if tax_rule.company_id == user.employee.company_id %}
            <tr class="table-light" id="table-row" >
            {% else %}
            <tr class="table-success" id="table-row" >
            {% endif %}
                    <td class="pr-4" scope="row" data-toggle="modal" data-target="#detail-modal-{{tax_rule.pk}}">
                        {{ forloop.counter }}
                    </td>
                    <td data-toggle="modal" data-target="#detail-modal-{{tax_rule.pk}}">{{ tax_rule.name }}</td>
                    {% if tax_rule.company_id == user.employee.company_id %}
                    <td> <a href={% url 'payroll:edit_tax_rule' pk=tax_rule.pk %}><img src={% static 'img/edit-icon.png' %} alt="edit"></a></td>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#delete-modal-{{tax_rule.pk}}">
                            <img src={% static 'img/delete-icon.png' %} alt="delete">
                        </a>
                    </td>
                    {% else %}
                    <td> <a href="#"><img src={% static 'img/edit-icon.png' %} alt="edit"></a></td>
                    <td>
                        <a href="#">
                            <img src={% static 'img/delete-icon.png' %} alt="delete">
                        </a>
                    </td>
                    {% endif %}

            </tr>
            <!--Detail Modal -->
            <div class="modal fade" id="detail-modal-{{tax_rule.pk}}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered p-3" role="document">
                <div class="modal-content p-3">
                    <div class="modal-header">
                        <h3 class="modal-title" id="detailModalLabel">تفاصيل القاعدة:</h3>
                    </div>
                        <div id="detail-list" class="modal-body">
                            <ul class="list-group">
                                {% if tax_rule.company_id == user.employee.company_id %}
                                <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                                {% else %}
                                <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
                                {% endif %}
                                     اسم القاعدة:    
                                    {{tax_rule.name}}
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                     قيمة الخصم الشخصي:    
                                    {{tax_rule.personal_exemption}}
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                        تقريب الرقم المحسوب الى أصغر 10
                                    {% if tax_rule.round_down_to_nearest_10 %}
                                    <span class="badge badge-success badge-pill">نعم</span>
                                    {% else %}
                                    <span class="badge badge-danger badge-pill">لا</span>
                                    {% endif %}    
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    عدد الشرائح بالقاعدة:    
                                    <span class="badge badge-primary badge-pill">{{tax_rule.sections.all|length}}</span>
                                </li>
                                {% for section in tax_rule.sections.all reversed %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <ul style="list-style-type:square">
                                         <li>  <u> اسم الشريحة:</u>
                                        <span>{{section.name}}</span></li>
                                        <li><u>من:</u>
                                      <span>{{section.salary_from}}</span></li>
                                      <li><u>الى:</u>
                                        <span>{{section.salary_to}}</span></li>
                                      <li><u>نسبة الضريبة:</u>
                                      <span>{{section.tax_percentage}}</span></li>
                                      <li><u>نسبة الخصم على الضريبة:</u>
                                      <span>{{section.tax_discount_percentage}}</span></li>
                                      <li><u>ترتيب الشريحة فى الحساب:</u>
                                      <span>{{section.section_execution_sequence}}</span></li>
                                    </ul>
                                    </li>
                                    {% endfor %}

                            </ul>
                            <div id="detail-buttons">
                                {% if tax_rule.company_id == user.employee.company_id %}
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                                <a type="button" class="btn btn-primary" href={% url 'payroll:edit_tax_rule' pk=tax_rule.pk %}>تعديل</a>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal-{{tax_rule.pk}}">حذف</button>
                                {% else %}
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                                {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="delete-modal-{{tax_rule.pk}}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class=" modal-dialog modal modal-dialog-centered w-50 p-3" role="document">
                    <div class="modal-content alert">
                        <div class="modal-header">
                            <h3 class="modal-title" id="detailModalLabel">هل أنت متأكد؟</h3>
                        </div>
                            <div class="modal-body">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                                    <a type="button" class="btn btn-danger" href={% url 'payroll:delete_tax_rule' pk=tax_rule.pk %}>نعم، احذف</a>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
        </tbody>
    </table> 

{% endblock table %}
        